body {
    background-color: black;
    color: gray;
}
a:link {
    color: white;
}
a:visited {
    color: #E0E0E0;
}
form input {
    text-align: right;
}
table {
    background-color: gray;
    border-width: 2;
    width: 100%;
}
tr {
    color: #A0A0A0;
    background-color: black;
    text-align: center;
}
tr a:link {
    color: #A0A0A0;
}
tr a:visited {
    color: #C0C0C0;
}
tr.DEBUG {
    background-color: #606060;
}
tr.INFO {
    background-color: #505050;
}
tr.AUDIT {
    background-color: #404040;
}
tr.WARN {
    background-color: #303030;
}
tr.WARNING {
    color: #D0D0D0;
    background-color: #303030;
}
tr.WARNING a:link {
    color: #D0D0D0;
}
tr.WARNING a:visited {
    color: #A0A0A0;
}
tr.ERROR {
    color: #D0D0D0;
    background-color: #101010;
}
tr.ERROR a:link {
    color: #D0D0D0;
}
tr.ERROR a:visited {
    color: #A0A0A0;
}
tr.CRITICAL {
    color: #D0D0D0;
    background-color: black;
}
tr.CRITICAL a:link {
    color: #D0D0D0;
}
tr.CRITICAL a:visited {
    color: #A0A0A0;
}
td.message {
    text-align: left;
}
div.dump {
    background-color: black;
    border-width: 2;
    border-style: solid;
    border-color: black;
    width: 100%;
}

pre {
    padding: 5px;
}

div.mode {
    padding: 10px;
}
div.mode a {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: #303030;
}
div.mode a.selected {
    padding: 10px;
    background-color: #505050;
}
div.body {
    padding: 5px;
    background-color: #505050;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div.query {
    padding: 5px;
}
div.query span {
    padding: 5px;
    margin-left: 5px;
    background-color: #303030;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
div.pager {
    padding: 10px;
    /* word-spacing: 5px; */
    background-color: #505050;
}
div.pager a,span {
    background-color: #303030;
    padding: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
div.style {
    float: right;
}
