body {
    background-color: LightSlateGray;
}
a:link {
    color: black;
}
a:visited {
    color: #202020;
}
form input {
    text-align: right;
}
table {
    background-color: Purple;
    border-width: 2;
    width: 100%;
}
tr {
    background-color: #CCCCCC;
    text-align: center;
}
tr.DEBUG {
    background-color: #808080;
}
tr.INFO {
    background-color: #00FFFF;
}
tr.AUDIT {
    background-color: #00FF00;
}
tr.WARN {
    background-color: yellow;
}
tr.WARNING {
    background-color: yellow;
}
tr.ERROR {
    color: white;
    background-color: red;
}
tr.ERROR a:link {
    color: white;
}
tr.ERROR a:visited {
    color: #D0D0D0;
}
tr.CRITICAL {
    color: white;
    background-color: black;
}
tr.CRITICAL a:link {
    color: white;
}
tr.CRITICAL a:visited {
    color: #D0D0D0;
}
td.message {
    text-align: left;
}
div.dump {
    background-color: #D0D0D0;
    border-width: 2;
    border-style: solid;
    border-color: black;
    width: 100%;
}

pre {
    padding: 5px;
}

div.mode {
    padding: 10px;
}
div.mode a {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: DodgerBlue;
}
div.mode a.selected {
    padding: 10px;
    background-color: LightSteelBlue;
}
div.body {
    padding: 5px;
    background-color: LightSteelBlue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div.query {
    padding: 5px;
}
div.query span {
    padding: 5px;
    background-color: #E0E0E0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
div.pager {
    padding: 10px;
    /* word-spacing: 5px; */
    background-color: LightSteelBlue;
}
div.pager a,span {
    background-color: #E0E0E0;
    padding: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
