<!doctype html>
<html>
<head>
<title>LogDAS: Log Analyzer for OpenStack</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=page>
  <h1>LogDAS: Log Analyzer for OpenStack</h1>
  <div class=metanav>
      <a href="{{ url_for('_requests_index') }}">Request List</a>
      <a href="{{ url_for('_errors') }}">Error List</a>
      <a href="{{ url_for('_warnings') }}">Warning List</a>
  </div>
  <br>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>
