<!doctype html>
<html>
<head>
<title>LogCAS: Log Collecting and Analyzing System for OpenStack</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=page>
  <h1>LogCAS: Log Collecting and Analyzing System for OpenStack</h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  <div class="mode">
      {%- set request_mode = "" -%}
      {%- set log_mode = "" -%}
      {%- if request.path.startswith('/logs') -%}
      {%- set log_mode = "selected" -%}
      {%- else -%}
      {%- set request_mode = "selected" -%}
      {%- endif -%}
      <a class="{{request_mode}}" href="{{ url_for('_request_index', limit=limit, levelno=10) }}">Request List</a>
      <a class="{{log_mode}}" href="{{ url_for('_log_index', limit=limit, levelno=20) }}">Log List</a>
  </div>
  <div class="body">
    <div class="query">
      <form method="GET">
      <input type="text" size="3" maxlength="3" name="limit" value="{{ limit }}" /> entries per page
      {%- set levelmap = [(10, "Debug"), (20, "Info"), (21, "Audit"), (30, "Warning"), (40, "Error"), (50, "Critical")] -%}
      {%- for key, value in levelmap -%}
      {%- if levelno == key %}
      {%- set checked='checked="checked"' -%}
      {%- else -%}
      {%- set checked='' -%}
      {%- endif %}
      <span><input type="radio" name="levelno" value="{{key}}" id="r{{key}}" {{checked}}/>
          <label for="r{{key}}">{{value}}</label></span>
      {%- endfor -%}
      <input type="submit"/>
      </form>
    </div>
    {% block body %}{% endblock %}
  </div>
</div>
</body>
</html>
