<!doctype html>
<html>
<head>
<title>Log Collecting and Analyzing System for OpenStack</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename=forms.style.data + '.css') }}">
</head>
<body>
<div class=page>
  <div align="right" class="style">
    <form method="GET">
      {%- for f in forms -%}
      {%- if f.name != "style" %}
      <input type="hidden" name="{{f.name}}" value="{{f.data}}"/>
      {%- endif -%}
      {%- endfor -%}
      {{ forms.style }}
      <input type="submit">
    </form>
  </div>
  <h1>Log Collecting and Analyzing System for OpenStack</h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  <div class="mode">
      {%- if not limit -%}
      {%- set limit = 100 -%}
      {%- endif -%}
      {%- set tabs = [('Requests', '_request_index', 30),
                      ('Logs', '_log_index', 30),
                      ('Requests(Archived)', '_archived_request_index', 10),
                      ('Logs(Archived)', '_archived_log_index', 30)] -%}
      {%- for display, method, levelno in tabs -%}
      {%- set selected = "" -%}
      {%- if request.path.startswith(url_for(method)) -%}
      {%- set selected = "selected" -%}
      {%- endif %}
      <a class="{{selected}}" href="{{ url_for(method, limit=limit, levelno=levelno, style=forms.style.data) }}">{{display}}</a>
      {%- endfor -%}
  </div>
  <div class="body">
    <div class="query">
      <form method="GET">
      <input type="text" size="3" maxlength="3" name="limit" value="{{ limit }}" /> entries per page
      {%- if forms -%}
      {%- for form in forms.levelno -%}
      <span>{{ form }}{{form.label}}</span>
      {%- endfor -%}
      {%- endif -%}
      {%- if created -%}
      <input type="hidden" name="created" value="{{created}}"/>
      <input type="text" size="3" maxlength="3" name="span" value="{{ span }}" /> seconds
      {%- endif %}
      <input type="hidden" name="style" value="{{forms.style.data}}"/>
      <input type="submit"/>
      </form>
    </div>
    {% block body %}{% endblock %}
  </div>
</div>
</body>
</html>
