<!doctype html>
<html>
<head>
<title>LogCAS: Log Collecting and Analyzing System for OpenStack</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=page>
  <h1>LogCAS: Log Collecting and Analyzing System for OpenStack</h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  <div class=metanav>
    <form>
      <a href="{{ url_for('_requests_index', limit=limit, levelno=10) }}">Request List</a>
      <a href="{{ url_for('_index', limit=limit, levelno=20) }}">Log List</a>
      <input type="text" size="3" maxlength="3" name="limit" value="{{ limit }}" /> entries per page
      {% set levelmap = [(10, "Debug"), (20, "Info"), (21, "Audit"), (30, "Warning"), (40, "Error"), (50, "Critical")] %}
      {% for key, value in levelmap %}
      {% if levelno == key %}
      <input type="radio" name="levelno" value="{{key}}" checked="checked">{{value}}</input>
      {% else %}
      <input type="radio" name="levelno" value="{{key}}">{{value}}</input>
      {% endif %}
      {% endfor %}
      <input type="submit" name="submit" />
    </form>
  </div>
  {% block body %}{% endblock %}
</div>
</body>
</html>
