{% extends "layout.html" %}
{% import "macro.html" as j with context %}

{% macro render_clockurl(log) -%}
{%- set ln = request.args.get('levelno', 10) -%}
<a href="{{url_for('_log_index', created=log.created, levelno=ln)}}">{{log.time|localtime}}</a>
{%- endmacro %}


{% block body %}
{{ j.render_pagination(pages, page) }}
<table>
    <tr>
        <th>Date</th>
        <th>Host</th>
        <th>Binary</th>
        <th>Project</th>
        <th>User</th>
        <th>Remote Address</th>
        <th>Request_id</th>
        <th>Level</th>
        <th>Message</th>
    </tr>
    {% for log in logs %}
    <tr class="{{ log.levelname }}">
        <td>{{ render_clockurl(log) }}</td>
        <td>{{ log.hostname }}</td>
        <td>{{ log.binary }}</td>
        {%- if log.extra -%}
        <td>{{ log.extra.get('project_name','') }}</td>
        <td>{{ log.extra.get('user_name','') }}</td>
        <td>{{ log.extra.get('remote_address','') }}</td>
        <td>{%- if log.extra.request_id -%}
        {%- set ln = request.args.get('levelno', 10) -%}
        {%- set rid = log.extra.get('request_id', '') -%}
        <a href="{{url_for('_request_show', request_id=rid, levelno=ln)}}">{{rid}}</a>
        {%- endif -%}</td>
        {%- else -%}
        <td/><td/><td/><td/>
        {%- endif -%}
        <td>{{ log.levelname }}</td>
        <td class="message"><a href="{{ url_for('_log_show', log_id=log._id) }}">{{ log.message }}</a></td>
    </tr>
    {% endfor %}
</table>
{{ j.render_pagination(pages, page) }}
{% endblock %}
