{% macro render_hosturl(host) -%}
{%- set newargs = request.args.copy().to_dict() -%}
{%- set _dummy = newargs.update({'host': host}) -%}
{%- set _dummy = newargs.pop('page', None) -%}
<a href="{{request.environ.PATH_INFO}}?{{newargs|urlencode}}">{{host}}</a>
{%- endmacro %}

{% macro render_current_pageurl(page, display) -%}
{%- set newargs = request.args.copy().to_dict() -%}
{%- set _dummy = newargs.update({'page': page}) -%}
<a href="{{request.environ.PATH_INFO}}?{{newargs|urlencode}}">{{display}}</a>
{%- endmacro %}

{% macro render_pagination(pages, page) -%}
{%- set PREV = "<<" -%}
{%- set NEXT = ">>" -%}

{%- if pages > 1 -%}
<div class="pager">
Page:
{% if page > 10 %}
{{ render_current_pageurl(1, "1") }}
{{ render_current_pageurl(page - 10, PREV) }}
{%- endif -%}

{%- set _start = 1 -%}
{%- set _end = pages -%}

{%- if page > 9 -%}
{%- set _start = page - 9 -%}
{%- endif -%}
{%- if page < pages - 9 -%}
{%- set _end = page + 9 -%}
{%- endif -%}
{%- for p in range(_start, _end + 1) -%}
{%- if p == page %}
<span>{{ p }}</span>
{%- else %}
{{ render_current_pageurl(p, p) }}
{%- endif -%}
{%- endfor -%}

{% if page < pages - 10 %}
{{ render_current_pageurl(page + 10, NEXT) }}
{{ render_current_pageurl(pages, pages) }}
{%- endif -%}

</div>
{%- endif -%}
{%- endmacro %}
