{% macro render_requesturl(id) -%}
{%- set ln = request.args.get('levelno', 10) -%}
<a href="{{url_for('_requests_show', request_id=id, levelno=ln)}}">{{id}}</a>
{%- endmacro %}

{% macro render_current_pageurl(page, display) -%}
{%- set newargs = request.args.copy().to_dict() -%}
{%- set _dummy = newargs.update({'page': page}) -%}
{%- set _dummy = newargs.pop('submit', None) -%}
<a href="{{request.environ.PATH_INFO}}?{{newargs|urlencode}}">{{display}}</a>
{%- endmacro %}

{% macro render_pagination(pages, page) -%}
{%- if pages > 1 -%}
{%- if page > 1 -%}
{{ render_current_pageurl(page - 1, "prev") }}
{%- endif -%}

{%- for p in range(1, pages + 1) -%}
{%- if p > page -%}
{%- set diff = p - page -%}
{%- else -%}
{%- set diff = page - p -%}
{%- endif -%}
{%- if p == page %}
{{ p }}
{%- else %}
{{ render_current_pageurl(p, p) }}
{%- endif -%}
{%- endfor -%}

{%- if page < pages %}
{{ render_current_pageurl(page + 1, "next") }}
{%- endif -%}
{%- endif -%}
{%- endmacro %}
