body {
    background-color: #E0E0E0;
}
a:link {
    color: black;
}
a:visited {
    color: #202020;
}
form input {
    text-align: right;
}
table {
    background-color: #A0A0A0;
    border-width: 2;
    border-style: solid;
    border-color: black;
    width: 100%;
}
tr {
    background-color: #CCCCCC;
    text-align: center;
}
tr.DEBUG {
    background-color: #808080;
}
tr.INFO {
    background-color: #00FFFF;
}
tr.AUDIT {
    background-color: #00FF00;
}
tr.WARN {
    background-color: yellow;
}
tr.WARNING {
    background-color: yellow;
}
tr.ERROR {
    color: white;
    background-color: red;
}
tr.ERROR a:link {
    color: white;
}
tr.ERROR a:visited {
    color: #D0D0D0;
}
tr.CRITICAL {
    color: white;
    background-color: black;
}
tr.CRITICAL a:link {
    color: white;
}
tr.CRITICAL a:visited {
    color: #D0D0D0;
}
td.message {
    text-align: left;
}
div.dump {
    background-color: #D0D0D0;
    border-width: 2;
    border-style: solid;
    border-color: black;
    width: 100%;
}

pre {
    padding: 5pt;
}
